@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  outline: none;
}
li {
  list-style: none;
}
